[submodule "vendor/pntr"]
	path = vendor/pntr
	url = https://github.com/RobLoach/pntr.git

[submodule "vendor/physfs"]
	path = vendor/physfs
	url = https://github.com/icculus/physfs.git

[submodule "vendor/soloud"]
	path = vendor/soloud
	url = https://github.com/jarikomppa/soloud.git
[submodule "vendor/stb"]
	path = vendor/stb
	url = https://github.com/nothings/stb.git
[submodule "vendor/openmpt"]
	path = vendor/openmpt
	url = https://github.com/OpenMPT/openmpt.git
